@model IEnumerable<Health.Models.SpecialOffer>

@{
    ViewBag.Title = "Special Offer";
}

<h2>Special Offers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceInEuro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscountInEuro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceInEuro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiscountInEuro)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SpecialOfferId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SpecialOfferId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SpecialOfferId })
        </td>
    </tr>
}

</table>
